.cart__items-wrapper {
  width: 45%;
  margin: 0 auto;
}

.cart__buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart__item-grid {
  display: grid;
  grid-template-columns: fit-content(1rem)  fit-content(1rem) 1fr fit-content(10rem) fit-content(1rem);
  align-items: center;
  margin-top: 1rem;
}

.cart__item-grid > h3 {
  margin-left: 1rem;
}

.cart__item-image {
  display: block;
  aspect-ratio: 1/1;
  height: 5rem;
  border-radius: var(--border-radius);
}

.cart__total {
  text-align: end;
  margin-right: 6.5rem;
}

.cart__item--delete-button {
  margin-left: 1rem;
}

.cart__item--delete-button:hover {
  background-color: red !important;
}
.cart__item--delete-button.dark:hover {
  border-color: red;
  color: var(--font-color--light) !important;
}