.header__container {
  width: 100%;
}

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 95%;
}

.header__page-title {
  margin: 0;
}

.header__cart-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--font-color--light)
}
.header__cart-button.dark {
  color: var(--font-color--dark)
}