.header__container {
  width: 100%;
}

.header__upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  width: 95%;
}

.header__page-title {
  margin: 0;
}

.header__cart {
  margin: 0;
  padding: 0;
}