.lightSwitch {
  aspect-ratio: 1/1;
  height: fit-content;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 0;
  border: 1px solid black;
  background-color: var(--div-color--light);
  color: var(--font-color--light);
}
.lightSwitch.dark {
  border-color: white;
  background-color: var(--bg-color--dark);
  color: var(--font-color--dark);
}