.lightSwitch {
  aspect-ratio: 1/1;
  height: fit-content;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 0;
  border: 2px solid black;
  background-color: white;
  color: black;
}
.lightSwitch.dark {
  border: 2px solid white;
  background-color: black;
  color: white;
}