.navbar__container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  justify-content: space-evenly;
}

.navbar__button {
  background: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: .3em 1em;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
}
.navbar__button:hover {
  background-color: var(--div-color--dark);
  color: var(--font-color--dark);
}
.navbar__button.active {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--div-color--dark);
  color: var(--font-color--dark);
}
.navbar__button.dark {
  color: var(--font-color--dark);
}
.navbar__button.dark:hover {
  background-color: var(--div-color--light);
  color: var(--font-color--light);
}
.navbar__button.dark.active {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--div-color--light);
  color: var(--font-color--light);
}

.navbar__dropdown-child--center {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.navbar__dropdown-button {
  display: block;
  background: none;
  border: none;
  color: var(--font-color--dark);
  text-transform: capitalize;
  border-radius: var(--border-radius);
  margin: .1em 0;
  padding: .3em;
  cursor: pointer;
}
.navbar__dropdown-button:hover {
  background-color: var(--div-color--light);
  color: var(--font-color--light);
}
.navbar__dropdown-button.dark {
  color: var(--font-color--light);
}
.navbar__dropdown-button.dark:hover {
  color: var(--font-color--dark);
  background-color: var(--bg-color--dark);
}