@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/gilroy/Gilroy-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-extra-bold";
  src: url("../assets/fonts/gilroy/Gilroy-ExtraBold.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Light Theme */
 --bg-color--light: #ececec;
 --div-color--light: #ffffff;
 --font-color--light: #000000;
 --title-color--light: #26262e;

 /* Dark Theme */
 --bg-color--dark: #161616;
 --div-color--dark: #252525;
 --font-color--dark: #ffffff;
 --title-color--dark: #ffffff;

 /* Shapes */
  --border-radius: 15px;
}

body {
  margin: 0;
}

img {
  border-style: none;
}

h1 {
  display: inline;
}

.main-screen {
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--bg-color--light);
  color: var(--bg-color--dark);
  font-family: "gilroy";
  min-height: 100vh;
}
.main-screen.dark {
  background-color: var(--bg-color--dark);
  color: white;
}

.bubble {
  border-radius: var(--border-radius);
  background-color: var(--div-color--light);
  padding: 1rem;
}
.bubble.dark {
  background-color: var(--div-color--dark);
  color: white;
}
.bubble.small {
  margin-top: .5rem;
  width: fit-content;
  padding: .7rem;
}

.button {
  font-size: 1.1em;
  border: 1px solid var(--bg-color--dark);
  border-radius: var(--border-radius);
  padding: .2rem 1rem;
  cursor: pointer;
  color: var(--font-color--dark);
  background-color: var(--bg-color--dark);
}
.button:hover {
  color: var(--font-color--light);
  border-color: var(--bg-color--dark);
  background-color: var(--div-color--light);
}
.button.dark {
  color: var(--font-color--light);
  border-color: var(--div-color--light);
  background-color: var(--div-color--light);
}
.button.dark:hover {
  color: var(--font-color--dark);
  background-color: var(--div-color--dark);
}