:root {
 --bg-color--light: #ffffff;
 --bg-color--dark: #000000;
}

body {
  margin: 0;
}

img {
  border-style: none;
}

.main-screen {
  width: 100vw;
  min-height: 100vh;
}

.main-container {
  background-color: var(--bg-color--light);
  color: var(--bg-color--dark);
  margin-top: 2rem;
}